@import "responsive/query";
@import "layout/flex";
@import "layout/main_layout";
@import "layout/patient_main_layout";

@import "utils/colors";
@import "utils/utils";
@import "utils/typography";
@import "over-writes";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}
html {
	height: -webkit-fill-available;
}
