$orange: #fd8922;
$green: #6baa17;
$teal: #3b838d;
$white: #ffffff;
$red: #ff4b4b;
$black: #555555;
$grey: #8e949a;
$dirtywhite: #e9eff0;

// Background colors
.bg-orange {
	background: $orange;
}

.bg-green {
	background: $green;
}

.bg-teal {
	background: $teal;
}

.bg-white {
	background: $white;
}

.bg-dirtywhite {
	background: $dirtywhite;
}

// Text colors
.text-orange {
	color: $orange;
}

.text-green {
	color: $green;
}

.text-teal {
	color: $teal;
}

.text-red {
	color: $red;
}

.text-white {
	color: $white;
}

.text-black {
	color: $black;
}

.text-grey {
	color: $grey;
}
